<section id="about">
    <h1 class="text-center">Σχετικά με το ΚΗΥ</h1>
    <div class="container">
        <div class="row top-buffer">
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-landmark fa-3x"></i></p></div>
                        <h5 class="card-title">Ιστορικό</h5>
                        <p class="card-text">Από το 1979 μέχρι και σήμερα το ΚΗΥ εξυπηρετεί το σύνολο των Εκπαιδευτικών, Ερευνητικών και Διοικητικών αναγκών του Ιδρύματος.</p>
                        <p class="small text-right">
                            <a href="{{site_url}}/about" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-pencil-ruler fa-3x"></i></p></div>
                        <h5 class="card-title">Κανονισμός Λειτουργίας</h5>
                        <p class="card-text">Κανονισμός Λειτουργίας του Κέντρου Ηλεκτρονικών Υπολογιστών του Εθνικού Μετσόβιου Πολυτεχνείου.</p>
                        <br>
                        <p class="small text-right">
                            <a href="{{site_url}}/operrules" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-users-cog fa-3x"></i></p></div>
                        <h5 class="card-title">Αρμοδιότητες</h5>
                        <p class="card-text">Διαμορφώνονται δυναμικά ανάλογα με τις σύγχρονες τεχνολογικές τάσεις και τις εκπαιδευτικές, ερευνητικές και αναπτυξιακές ανάγκες του ΕΜΠ.</p>
                        <p class="small text-right">
                            <a href="{{site_url}}/responsibilities" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row top-buffer">
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-database fa-3x"></i></p></div>
                        <h5 class="card-title">Εξοπλισμός</h5>
                        <p class="card-text">Από το 1979 μέχρι και σήμερα το ΚΗΥ εξυπηρετεί το σύνολο των Εκπαιδευτικών, Ερευνητικών και Διοικητικών αναγκών του Ιδρύματος.</p>
                        <p class="small text-right">
                            <a href="{{site_url}}/resources" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
              
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-tv fa-3x"></i></p></div>
                        <h5 class="card-title">Εργαστήρια</h5>
                        <p class="card-text">Διαμορφώνονται δυναμικά ανάλογα με τις σύγχρονες τεχνολογικές τάσεις και τις εκπαιδευτικές, ερευνητικές και αναπτυξιακές ανάγκες του ΕΜΠ.</p>
                        <p class="small text-right">
                            <a href="{{site_url}}/pclabs" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
                      
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center"><p></p><i class="fas fa-users fa-3x"></i></p></div>
                        <h5 class="card-title">Πως γίνομαι μέλος</h5>
                        <p class="card-text">Όσα μέλη δεν έχουν αποκτήσει αυτόματα λόγαριασμό στο ΕΜΠ πρέπει να συμπληρώσουν την απαραίτηση αίτηση.</p>
                        <br>
                        <p class="small text-right">
                            <a href="{{site_url}}/newmembers" class="card-link">περισσότερα&nbsp;<i class="fas fa-share"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
                     
        </div>
    </div>
</section>       
