<section id="contact">
    <h1 class="text-center">Επικοινωνία</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <address>
                    <strong>
                        Εθνικό Μετσόβιο Πολυτεχνείο<br>
                        Κέντρο Ηλεκτρονικών Υπολογιστών
                    </strong><br>
                    Πολυτεχνειούπολη Ζωγράφου<br>
                    Ηρώων Πολυτεχνείου 9<br>
                    15773 Ζωγράφου<br>
                    <br>
                    <strong>Email</strong>: adm@central.ntua.gr<br>
                    <strong>Fax</strong>: 210 772 2446<br>
                </address>     
            </div>
            <div class="col-8">
                <p> Για την επικοινωνία σας με το ΚΗΥ για διοικητικά θέματα και <strong>ειδικά για 
                    δημιουργία ή ανανέωση κωδικών</strong>, η αυτοπρόσωπη παρουσία σας δεν είναι 
                    απαραίτητη σε καμία περίπτωση. Αν θέλετε να επικοινωνήσετε με το ΚΗΥ 
                    χρησιμοποιήστε την ηλεκτρονική διεύθυνση <code>adm@central.ntua.gr</code> 
                    και θα επικοινωνήσουμε μαζί σας το συντομότερο δυνατό.
                </p>
                <p>
                    Το ΚΗΥ δεν έχει τη δυνατότητα τήρησης έντυπου αρχείου κι έτσι <strong>δεν παραλαμβάνει</strong> 
                    οποιουδήποτε είδους πιστοποιητικά. Για τη δημιουργία ή ανανέωση των κωδικών 
                    σας αρκεί να επικοινωνήσει με το ΚΗΥ είτε η Γραμματεία της Σχολής σας είτε ο 
                    υπεύθυνος καθηγητής σας (<a href="{{site_url}}/newmembers">περισσότερα</a>).
                </p>
            </div>
        </div>
    </div>  
</section>
    