<section class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="assets/img/cc.jpg" class="img-fluid">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				<h1>Εθνικό Μετσόβιο Πολυτεχνείο</h1>
			  	<h2>Κέντρο Ηλεκτρονικού Υπολογιστή</h2>
			  	<p>Το Κέντρο Ηλεκτρονικών Υπολογιστών του Εθνικού Μετσόβιου Πολυτεχνείου εξυπηρετεί συνεχώς από το 1979 τις εκπαιδευτικές, ερευνητικές και αναπτυξιακές ανάγκες του Ιδρύματος.</p>
          <h4><a href="{{site_url}}/hiring/">Αναζήτηση συνεργατών</a></h4>
      </div>
		</div>
	</div>
</section>