<section id="myCentral">
    <h1 class="text-center">myCentral</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <i class="far fa-id-badge fa-10x"></i>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">
                <p>
                    Προσωποιημένη σελίδα πληροφόρησης για στοιχεία που αφορούν τα μέλη της Πολυτεχνειακής κοινότητας.
                    Παρέχεται η δυνατότητα <code>αλλαγής password</code> και ενημέρωσης για τα στοιχεία του χρήστη μέσα από τη <code>καρτέλα χρήστη</code>.
                    Ενήμερωση για τα <code>φοιτητικά στοιχεία</code> (βαθμολογία μαθημάτων, εγγραφές σε εξάμηνο, κατευθύνσεις, ροές κλπ.) των προπτυχιακών φοιτητών. 
                    Ενήμερωση για τα <code>φοιτητικά στοιχεία</code> (βαθμολογία μαθημάτων, εγγραφές σε εξάμηνο κλπ.) των υποψηφίων διδακτόρων ΣΗΜΜΥ. 
                    <code>Ηλεκτρονικές εγγραφές και δήλωση μαθημάτων</code> των υποψηφίων διδακτόρων ΣΗΜΜΥ. <code>Έγκριση μαθημάτων</code> των υποψηφίων διδακτόρων 
                    ΣΗΜΜΥ από μέλη ΔΕΠ της σχολής. <code>Διαχείριση εγγραφολογίου</code> από τη γραμματεία της ΣΗΜΜΥ.
                </p>
            </div>
        </div>
    </div>  
</section>