<section id="services">
    <h1 class="text-center">Υπηρεσίες</h1>
    <div class="container">
        <div class="card-columns top-buffer">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fa fa-chalkboard-teacher"></i><a href="{{site_url}}/elearning"> Elearning</a></p>
                </div>
            </div>
            <!-- <div class="card bg-warning">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fa fa-server"></i><a href="{{site_url}}/hpc"> High Performance Computing</a></p>
                </div>
            </div> -->
            <div class="card bg-success">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fas fa-bullhorn"></i><a href="https://acadinfo.central.ntua.gr/gram/anakoin.nsf/anakoinall?openpage" target="_blank"> Ανακοινώσεις</a></p>
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fas fa-school"></i><a href="https://acadinfo.central.ntua.gr/sem/semreg.nsf/semp?openform" target="_blank"> Σεμινάρια</a></p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fas fa-utensils"></i><a href="https://acadinfo.central.ntua.gr/yp/sitisi.nsf/webait?openform" target="_blank"> Σίτιση</a></p>
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fas fa-graduation-cap"></i><a href="{{site_url}}/registrations"> Εγγραφολόγιο</a></p>
                </div>
            </div>
        </div>
    </div>
</section> 