<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Κέντρο Ηλεκτρονικών Υπολογιστών</title>

  <link rel="stylesheet" href="{{"/assets/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{"/assets/css/custom.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  
  <script src={{"/assets/js/moment.min.js" | relative_url}}></script>
  <script src={{"/assets/js/Chart.min.js" | relative_url}}></script>
</head>
